.color1 {
  color: #171618; }

.color2 {
  color: #535556; }

.color3 {
  color: #767986; }

.color4 {
  color: #cfc7d4; }

.color5 {
  color: #f9f9f9; }

body {
  font-family: 'Major Mono Display', monospace;
  background-color: #f9f9f9;
  width: 100vw; }

header {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

main {
  min-height: calc(100vh - 227px - 105px); }

.logoMarca {
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain; }
  @media (min-width: 768px) {
    .logoMarca {
      height: 150px;
      width: auto; } }

.navbar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px; }

.carousel {
  margin: 5rem auto;
  overflow: hidden; }
  .carousel img {
    object-fit: contain; }

.categoriaPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 5rem auto;
  justify-content: space-around;
  width: 75%; }

.imgCategoria {
  width: 100%;
  height: auto;
  max-width: 350px; }

.bannerIndex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #171618;
  width: 75%;
  font-size: 2rem;
  font-weight: bolder;
  color: #f9f9f9;
  padding: 8px; }
  .bannerIndex p {
    margin: 0;
    text-align: center; }
  @media (max-width: 768px) {
    .bannerIndex {
      font-size: 1.5rem; } }

.cardRedes {
  display: flex;
  margin: 5rem auto;
  justify-content: center; }
  @media (max-width: 768px) {
    .cardRedes h2 {
      font-size: 18px; }
    .cardRedes p {
      font-size: 16px; } }

.mainHombres {
  display: flex;
  flex-direction: row;
  padding: 16px 0; }
  @media (max-width: 425px) {
    .mainHombres {
      flex-wrap: wrap; } }

.menuFixed {
  position: sticky;
  top: 0px;
  left: 0px; }

.navbarHombres a {
  text-decoration: none;
  color: #535556;
  text-align: center;
  justify-content: center; }
  .navbarHombres a:hover {
    text-decoration: none;
    color: #171618;
    font-weight: 600; }

@media (max-width: 425px) {
  .navbarHombres {
    margin: 0 auto; } }

.galeriaHombres .card {
  display: block;
  margin: auto;
  transition: all 1s; }
  .galeriaHombres .card:hover {
    transform: scale(1.1, 1.1); }

.galeriaHombres p {
  text-align: center; }

.QuienesSomos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem auto;
  width: 75%; }

.QuienesSomos img {
  height: auto;
  width: 100%;
  margin: 2rem auto; }

.historia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem auto; }

.valores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem auto; }

footer {
  background-color: #171618;
  text-align: center;
  text-decoration: none;
  padding: 30px 0; }

.formContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  width: 75%;
  margin: 0 auto;
  padding: 50px; }
  .formContacto .formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%; }
    @media (max-width: 768px) {
      .formContacto .formulario {
        width: 100%; } }
  .formContacto .contenedorInput {
    display: flex;
    flex-direction: column;
    gap: 4px; }
    .formContacto .contenedorInput input {
      width: 100%;
      border-radius: 4px; }
  @media (max-width: 425px) {
    .formContacto {
      padding: 50px 0; } }

.contactoRedes {
  color: #f9f9f9;
  font-size: 30px; }

.contacto {
  margin-left: 50px;
  margin-top: 50px; }
